extends ../layout

block css
    link(rel="stylesheet", href="/stylesheets/main/main.css")
block content
    div(class="d-flex")
        ul(class="layui-nav layui-nav-tree")
            li(class="layui-nav-item layui-nav-itemed")
                a(href="#") 账单管理
                dl(class="layui-nav-child")
                    dd 
                        a(href="orderInto" class=pathname=="orderInto"?'layui-this':'') 进账管理
                    dd 
                        a(href="orderOut" class=pathname=="orderOut"?'layui-this':'') 出账管理
                    dd
                        a(href="#") aaa
            li(class="layui-nav-item layui-nav-itemed")
                a(href="#") 默认展开
                dl(class="layui-nav-child")
                    dd 
                        a(href="#") 选项一
                    dd 
                        a(href="#") 选项二
            li(class="layui-nav-item layui-nav-itemed")
                a(href="#") 产品
        block tree_content
block js
    script(src="/javascripts/main/index.js")