extends ./index

block tree_content
    div(class="tree_content")
        table(class="layui-table")
            colgroup
                col(width="150")
                col(width="200")
                col
            thead
                tr
                    th 昵称
                    th 加入时间
                    th 签名
            tbody
                tr
                    td 贤心
                    td 2016-11-29
                    td 人生就像是一场修行
                tr
                    td 许闲心
                    td 2016-11-28
                    td 于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…