extends ../layout

block css
  link(rel="stylesheet", href="/stylesheets/login/index.css")
  link(rel="stylesheet", href="/layui/css/layui.css")
block content
  div(class="x-mark")
    div(class="container")
      div(class="left")
      div(class="right")
  div(class="intro-container")
    form(class='layui-form')
      div(class='layui-form-item')
        label(class="layui-form-label") 账号
        div(class="layui-input-block")
          input(type="text" class="layui-input" placeholder="用户名" name="username")
      div(class='layui-form-item')
        label(class="layui-form-label") 密码
        div(class="layui-input-block")
          input(class="layui-input" type="password" placeholder="密码" name="password")
      div(class="button shift-camera-button")
        div(class="border")
          div(class="left-plane")
          div(class="right-plane")
        div(class="text") 登陆
  div(class="sky-container")
    div(class="text-right sky-container__left")
      h2(class="portfolio")
        //- PORTFOLIO
      h2(class="resurrection")
        //- resurrection	
    div(class="text-left sky-container__right")
      div msg
block js
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/TweenMax.min.js")
  script(src="/javascripts/three.min.js")
  script(src="/javascripts/login.js")