extends ../layout

block css
  link(rel="stylesheet", href="./stylesheets/login/index.css")

block content
  div(class="wrapper")
    form(action="/login"  method="post")
      div 
        span 用户名 
        input(type="text" name="id")
      div
        span 密码 
        input(type="password" name="psw")
      button(type="submit" class="btn btn-success") 登录

block js
