doctype html
html
  head
    title= title
    link(rel="stylesheet" href="/layui/layui.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    block css
  body
    block content
    script(src="/layui/layui.js")
    block js