doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
  body
    div study
    block content
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
